{% if include.dark == "true" %}
<nav class="navbar navbar-expand-lg navbar-dark pb-navbar pb-scrolled-light" id="pb-navbar">
{% else %}
<nav class="navbar navbar-expand-lg navbar-light pb-navbar light pb-scrolled-light" id="pb-navbar">
{% endif %}
    <div class="container">
        <a class="navbar-brand navbar-brand-lg smoothscroll no-nav-expand" href="/"><img src="/assets/images/logo-medium.png" alt="{{ site.title }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
            <ul class="navbar-nav ml-auto">
                {% include navbar_links.html %}
            </ul>
        </div>
    </div>
</nav>