<ul class="list-inline">
    <li class="list-inline-item">
        <a href="https://www.facebook.com/sebsscholarship" class="p-2" target="_blank" rel="noopener">
            <i aria-hidden="true" class="fa fa-facebook" title="Follow on Facebook"></i>
            <span class="sr-only">Follow on Facebook</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://tiktok.com/@sebsscholarship" class="p-2" target="_blank" rel="noopener">
            <i aria-hidden="true" class="fab fa-tiktok" title="Follow on TikTok"></i>
            <span class="sr-only">Follow on TikTok</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/sebs-scholarship-foundation" class="p-2" target="_blank" rel="noopener">
            <i aria-hidden="true" class="fa fa-linkedin" title="Follow on LinkedIn"></i>
            <span class="sr-only">Follow on LinkedIn</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://github.com/sebs-scholarship/" class="p-2" target="_blank" rel="noopener">
            <i aria-hidden="true" class="fab fa-github" title="Visit our GitHub"></i>
            <span class="sr-only">Visit our GitHub</span>
        </a>
    </li>
</ul>