@charset "UTF-8";

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-next {
  right: -25px;
}

.slick-next::before {
  content: "→";
}

.slick-prev {
  left: -25px;
}

.slick-prev::before {
  content: "←";
}

.slick-prev::before,
.slick-next::before {
  font-family: "slick", serif;
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover::before,
.slick-prev:focus::before,
.slick-next:hover::before,
.slick-next:focus::before {
  opacity: 1;
}

.slick-prev.slick-disabled::before,
.slick-next.slick-disabled::before {
  opacity: 0.25;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

[dir="rtl"] .slick-prev::before {
  content: "→";
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

[dir="rtl"] .slick-next::before {
  content: "←";
}

/* Dots */
