@media (prefers-color-scheme: dark) {
  body {
    color: #c6c8ca;
    background-color: #16181b;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  .pb-navbar .navbar-toggler {
    color: white;
    border: none white;
    cursor: pointer;
    padding-right: 0;
  }

  .pb-navbar.light .navbar-toggler {
    color: rgba(255 255 255 / 50%);
  }

  .pb-navbar.light ul > li > a {
    color: white !important;
  }

  .pb-navbar.light ul > li > a:hover,
  .pb-navbar.light ul > li > a:focus {
    color: rgba(255 255 255 / 50%) !important;
  }

  .pb-navbar.scrolled.pb-scrolled-light {
    background: #2e3133 !important;
  }

  .pb-navbar.scrolled.pb-scrolled-light ul li a {
    color: #fff !important;
  }

  .pb-navbar.scrolled.pb-scrolled-light ul li a:hover,
  .pb-navbar.scrolled.pb-scrolled-light ul li a:active,
  .pb-navbar.scrolled.pb-scrolled-light ul li a:focus {
    color: #c6c8ca !important;
  }

  .pb-media-v2 h3 {
    color: #fff;
  }

  .bg-light {
    background-color: #2e3133 !important;
  }

  .form-control {
    border: 1px solid rgba(0 0 0 / 15%);
    background-color: #2e3133 !important;
    color: white;
    font-weight: 300;
  }

  .form-control:focus {
    color: white;
  }

  .d-wall {
    background-color: white;
  }

  hr {
    height: 1px;
    background-color: #2e3133;
    border: none;
  }

  strong {
    color: white;
  }

  .pb-media-v2 > .icon {
    color: #c6c8ca;
  }

  .pb-outline-dark:hover,
  .pb-outline-dark:active,
  .pb-outline-dark:focus {
    color: white;
    border: 1px solid white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #1b1d1f;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    line-height: 1.1;
    color: #212529;
  }

  .pb-navbar.light .navbar-toggler {
    color: rgba(0 0 0 / 50%);
  }

  .pb-navbar.light ul > li > a {
    color: #212529 !important;
  }

  .pb-navbar.light ul > li > a:hover,
  .pb-navbar.light ul > li > a:focus {
    color: #868e96 !important;
  }

  .pb-navbar.scrolled.pb-scrolled-light {
    background: #fff !important;
  }

  .pb-navbar.scrolled.pb-scrolled-light ul li a {
    color: #212529 !important;
  }

  .pb-navbar.scrolled.pb-scrolled-light ul li a:hover,
  .pb-navbar.scrolled.pb-scrolled-light ul li a:active,
  .pb-navbar.scrolled.pb-scrolled-light ul li a:focus {
    color: #868e96 !important;
  }

  .pb-media-v2 h3 {
    color: #212529;
  }

  .d-wall {
    background-color: rgba(0 0 0 / 0%);
  }

  strong {
    color: black;
  }

  .pb-media-v2 > .icon {
    color: #5d6369;
  }

  .pb-outline-dark:hover,
  .pb-outline-dark:active,
  .pb-outline-dark:focus {
    color: black;
    border: 1px solid black;
  }
}

.pb-cover-v1 .heading {
  font-size: 62px;
  color: white;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}

.pb-sm-py-cover .heading {
  font-size: 62px;
  color: white;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}

.donor-logo a > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
}

a {
  color: #197700;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  color: #0c4700;
}

input,
textarea,
p {
  font-weight: 300;
}

.pb-testimonial-v1 .media img {
  max-width: 200px;
}

.pb-testimonial-v1 .media blockquote {
  font-style: italic;
}

.slick-arrow i {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.pb-media-v2 > .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.pb-navbar .navbar-toggler i {
  font-size: 30px;
}

@media (max-width: 767px) {
  .pb-cover-v1 .heading {
    font-size: 42px;
  }
}

.pb-cover-v1 .sub-heading {
  font-size: 20px;
  color: rgba(255 255 255 / 80%);
  max-width: 600px;
  float: left;
}

.pb-sm-py-cover .sub-heading {
  font-size: 20px;
  color: rgba(255 255 255 / 80%);
  max-width: 600px;
  float: left;
}

.pb-cover-v1.text-center .sub-heading {
  margin: 0 auto;
  float: none;
}

.pb-cover-v1.text-right .sub-heading {
  float: right;
}

.pb-cover-v1.text-left .sub-heading {
  float: left;
}

.pb-sm-py-cover {
  position: relative;
  padding: 3em 0;
}

@media (max-width: 767px) {
  .pb-sm-py-cover {
    height: inherit;
    text-align: center !important;
    padding: 3em 0;
  }
}

.pb-sm-py-cover > .container {
  position: relative;
}

.pb-sm-py-cover > .container > .row {
  padding: 3em 0;
}

@media (max-width: 767px) {
  .pb-sm-py-cover > .container > .row {
    height: inherit;
    padding: 3em 0;
  }
}

@media (max-width: 767px) {
  .pb-sm-py-cover .heading {
    font-size: 42px;
  }
}

.pb-sm-py-cover.text-center .sub-heading {
  margin: 0 auto;
  float: none;
}

.pb-sm-py-cover.text-right .sub-heading {
  float: right;
}

.pb-sm-py-cover.text-left .sub-heading {
  float: left;
}

.pb-cover-v1 {
  position: relative;
  height: 95vh;
}

@media (max-width: 767px) {
  .pb-cover-v1 {
    height: inherit;
    text-align: center !important;
    padding: 6em 0;
  }
}

.pb-cover-v1 > .container {
  position: relative;
}

.pb-cover-v1 > .container > .row {
  height: 95vh;
}

@media (max-width: 767px) {
  .pb-cover-v1 > .container > .row {
    height: inherit;
    padding: 6em 0;
  }
}

.cover-bg-black {
  position: relative;
}

.cover-bg-black::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: black;
}

.cover-bg-opacity-6::before {
  opacity: 0.6;
}

input,
select,
textarea {
  font-weight: 300;
  color: rgba(0 0 0 / 70%);
}

.btn {
  font-weight: 300 !important;
}

.btn:focus,
.btn:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.pb-outline-light {
  border: 1px solid rgba(255 255 255 / 20%);
  text-transform: uppercase;
  background: none;
  color: white;
}

.pb-outline-light:hover,
.pb-outline-light:active,
.pb-outline-light:focus {
  outline: none;
  background: #fff !important;
  border: 1px solid white;
  color: #000;
}

.pb-outline-dark {
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid black;
  background: #0c4700;
  color: white;
}

.pb-outline-dark:hover,
.pb-outline-dark:active,
.pb-outline-dark:focus {
  outline: none;
  background: rgba(255 255 255 / 30%) !important;
}

.form-input:focus {
  border: 1px solid #800000 !important;
}

.scroller a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 Montserrat, Arial, sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.pb-navbar ul > li > a {
  color: white !important;
}

.scroller a:hover {
  opacity: 0.5;
}

#pb-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255 255 255 / 90%);
  -webkit-box-shadow: 0 24px 64px rgba(0 0 0 / 24%);
  box-shadow: 0 24px 64px rgba(0 0 0 / 24%);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#pb-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#pb-loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#pb-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#pb-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

html {
  overflow-x: hidden;
  font-size: 1em;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.8;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

.bg-image,
.pb-sm-py-cover,
.pb-cover-v1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.with-overlay {
  position: relative;
}

.with-overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0 0 0 / 50%);
}

.pb-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-family: Montserrat, Arial, sans-serif;
}

.pb-navbar.light .navbar-toggler {
  border: none white;
  cursor: pointer;
  padding-right: 0;
}

@media (max-width: 991px) and (prefers-color-scheme: light) {
  .pb-navbar.light .navbar-nav {
    background: #fff;
  }
}

@media (max-width: 991px) and (prefers-color-scheme: dark) {
  .pb-navbar.light .navbar-nav {
    background: rgba(0 0 0 / 80%);
  }
}

.pb-navbar.light .navbar-brand {
  color: #800000;
}

.pb-navbar .navbar-toggler:active,
.pb-navbar .navbar-toggler:focus {
  outline: none;
}

.pb-navbar > .container {
  position: relative;
}

.pb-navbar ul > li > a.active {
  color: white !important;
}

.pb-navbar ul > li.cta-btn > a > span {
  padding: 10px;
  border: 1px solid rgba(255 255 255 / 50%);
}

.pb-navbar .nav-link {
  font-size: 15px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@media (max-width: 1199px) {
  .pb-navbar .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 991px) {
  .pb-navbar .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 767px) {
  .pb-navbar .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .pb-navbar .navbar-nav {
    background: rgba(0 0 0 / 80%);
    border-radius: 0;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.pb-navbar.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
}

@media (max-width: 991px) {
  .pb-navbar.scrolled .navbar-nav {
    background: none;
    border-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 767px) {
  .pb-navbar.scrolled .navbar-nav {
    background: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.pb-navbar.scrolled .navbar-toggler {
  color: rgba(0 0 0 / 50%);
  border: none rgba(0 0 0 / 50%);
  cursor: pointer;
  padding-right: 0;
}

.pb-navbar.scrolled .nav-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pb-navbar.scrolled.awake {
  margin-top: 0;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.pb-navbar.scrolled.sleep {
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.pb-navbar.scrolled.pb-scrolled-light {
  -webkit-box-shadow: 0 1px 10px -2px rgba(0 0 0 / 15%);
  -moz-box-shadow: 0 1px 10px -2px rgba(0 0 0 / 15%);
  box-shadow: 0 1px 10px -2px rgba(0 0 0 / 15%);
}

@media (max-width: 991px) {
  .pb-navbar.scrolled.pb-scrolled-light .navbar-nav {
    background: none;
    border-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.pb-navbar.scrolled.pb-scrolled-light ul li a:hover,
.pb-navbar.scrolled.pb-scrolled-light ul li a:active,
.pb-navbar.scrolled.pb-scrolled-light ul li a:focus {
  color: #c6c8ca !important;
}

.pb-navbar.scrolled.pb-scrolled-light ul li.cta-btn > a > span {
  border: none;
  background: #00ca4c;
  color: #fff;
}

.pb-navbar.scrolled.pb-scrolled-light .navbar-brand {
  color: #197700;
}

.pb-navbar.scrolled.pb-scrolled-light ul li a.active {
  color: #197700 !important;
}

#scroll-div a {
  padding-top: 60px;
}

#scroll-div a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

#scroll-div a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

.heading-border-top {
  position: relative;
  padding-top: 30px;
}

.heading-border-top::before {
  position: absolute;
  top: 0;
  height: 2px;
  width: 50px;
  content: "";
  background: #197700;
}

.heading-border-top.light::before {
  background: rgba(255 255 255 / 70%) !important;
}

.text-center .heading-border-top::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.text-center .heading-border-top.light::before {
  background: rgba(255 255 255 / 70%) !important;
}

.pb-section {
  padding: 9em 0;
  position: relative;
  display: block;
}

@media (max-width: 991px) {
  .pb-section {
    padding: 4em 0;
  }
}

@media (max-width: 767px) {
  .pb-testimonial-v1 .media {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .pb-testimonial-v1 .media img {
    margin: 0 auto 20px !important;
  }
}

@media (max-width: 767px) {
  .pb-testimonial-v1 .media .media-body {
    width: 100%;
    text-align: center;
  }
}

.pb-testimonial-v1 .media blockquote p {
  color: rgba(255 255 255 / 90%);
  font-size: 18px;
}

.pb-testimonial-v1 .media blockquote p cite {
  display: block;
  font-size: 1rem;
  font-style: normal;
}

.pb-testimonial-v1 .media blockquote p.pb-author {
  font-style: normal;
  color: whitesmoke;
}

.pb-footer {
  padding: 5em 0;
}

.pb-footer .list-unstyled li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.pb-media-v2 > .icon {
  width: 80px;
  height: 80px;
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #000;
}

@media (max-width: 767px) {
  .slick-arrow {
    display: none !important;
  }
}

.slick-arrow.prev {
  left: 20px;
}

.slick-arrow.next {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: -40px;
  z-index: 1;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.slick-dots li button::before {
  width: 7px;
  height: 7px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0 0 0 / 20%);
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
  background: rgba(0 0 0 / 70%);
}

.slick-dots li.slick-active button::before {
  background: rgba(0 0 0 / 70%);
}

.btn-light {
  background: rgba(255 255 255 / 30%);
}

.img-wrap {
  margin: 2.75em;
}

@media (max-width: 767px) {
  .img-wrap {
    margin: 0 0 1.5em;
  }
}

.col-seperator-left {
  border-right: 1px solid rgba(134 142 150 / 30%);
  margin-right: 1em;
}

@media (max-width: 767px) {
  .col-seperator-left {
    border-right: 0;
    margin-right: 0;
  }
}

.navbar-brand-lg {
  font-size: 1.5em;
}

@media (max-width: 767px) {
  .scroller a {
    position: inherit;
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.title {
  font-size: 2rem;
}

@media (max-width: 991px) {
  .title {
    margin: 1em 0 0;
  }
}

.header {
  font-size: 1.25rem;
}

.donor-logo {
  position: relative;
  background: rgba(0 0 0 / 0%);
  max-width: 200px;
  display: inline-block;
}

.donor-logo-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 0.3s ease-in;
  background-color: #0c470000;
  display: block;
  color: #fff0;
}

.donor-name {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.grecaptcha-badge {
  z-index: 99;
}

.font-weight-normal {
  font-weight: 300 !important;
}

textarea:focus,
input:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  font-weight: 300;
}

.scholarship-icons {
  color: #197700;
}

.donor-logo:hover .donor-logo-cover {
  background-color: #0c4700cc;
  color: rgba(255 255 255 / 100%);
}
